.container
  %h3.center.mb-30
    買い物かごの中身
  %ul.collection.with-header
    - @products.each do |product|
      %li.collection-item
        #{product.name}
        %p.right
          %span
            = product.display_price
          = link_to product_delete_in_baskets_path(product), method: :post, data: {confirm: '削除してもいいですか？'} do
            %span.basket__delete
              ✕
  .basket__total-amount.right
    合計金額 #{@total_price} 円